<div class="container" style="margin-top:100px">
        <h4 class="card-header">Display details from db.json in an organization tree structure </h4><br/>
<div class="control-section" style="overflow:hidden;">
        <div class="col-lg-12">
            <div class='col-lg-6 list-data'>
                <div class='content'>
                    <div class="row">
                        <div class="col-3">
                                <img src="https://s3.amazonaws.com/myamcatimages/company/images/8527.png" height="50px"/>
                        </div>
                    
                    <div class="col-9">
                            <h4 style="margin-top: 10px">Ojas Innovative Technologies</h4>
                    </div>
                    
                    </div>
                    <hr/>
                    <ejs-treeview id="listtree" [fields]='listfields'></ejs-treeview>
                </div>
            </div>
        </div>
    </div>
</div>   


    